<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button> </ion-buttons
    ><ion-title slot="start">Draw</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="canvas-container">
    <canvas
      #canvas
      (mousedown)="startDrawing($event)"
      (mousemove)="draw($event)"
      (mouseup)="endDrawing()"
      (mouseleave)="endDrawing()"
      (touchstart)="startDrawing($event)"
      (touchmove)="draw($event)"
      (touchend)="endDrawing()"
    ></canvas>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Left: Clear -->
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="clearCanvas()">Clear</ion-button>
    </ion-buttons>

    <!-- Center: color + brush controls -->
    <div class="draw-controls">
      <div class="control">
        <label>Color</label>
        <input type="color" [(ngModel)]="color" />
      </div>

      <div class="control">
        <label>Brush</label>
        <input type="range" min="1" max="30" [(ngModel)]="size" />
      </div>
    </div>

    <!-- Right: Save -->
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
