#container {
  //position: absolute;
  //left: 0;
  //right: 0;
  //top: 50%;
  //transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: start;
  gap: 2rem;
  height: 80%;
  border: solid 1px lightgray;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 0 0 inset;
}
#container div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.25rem;
}
#container .ion-item {
  display: flex;
  flex-direction: column;
}

#dirselector .ion-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3rem;
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.item-wrapper {
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap;
}
