#container {
  //position: absolute;
  //left: 0;
  //right: 0;
  //top: 50%;
  //transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: start;
  gap: 2rem;
  height: 100%;
  border: solid 1px lightgray;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
#container div {
  width: 100%;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
