<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center"> Ionic Drawing Pad </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="">
    <div>
      <ion-text color="primary">
        <h2>Hello!</h2>
      </ion-text>
      <ion-text color="medium">
        <p>
          This is the welcome page. Choose where to save your drawing and then
          start drawing.
        </p>
      </ion-text>
    </div>
    <div #dirselector>
      <ion-item style="display: flex; flex-direction: column; flex-wrap: wrap">
        <ion-label aria-label="primary input" color="primary"
          >Destination Folder</ion-label
        >
        <ion-select
          interface="popover"
          placeholder="Select the destination folder"
          toggleIcon="add"
          aria-label="Folder"
          [(ngModel)]="selectedFolder"
        >
          <ion-select-option value="Documents">Documents</ion-select-option>
          <ion-select-option value="pictures">Pictures</ion-select-option>
          <ion-select-option value="downloads">Downloads</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Name of your canvas</ion-label>
        <ion-input
          placeholder="e.g. my_drawing"
          [(ngModel)]="fileBaseName"
        ></ion-input>
      </ion-item>
    </div>

    <ion-button
      (click)="startDrawing()"
      fill="outline"
      expand="block"
      class="ion-margin-top"
    >
      Start Drawing
    </ion-button>
  </div>
</ion-content>
